# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [6]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [7]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

#Select the 'Limit' and 'Rating' columns of the first five observations

In [10]:
limit_rating_info=df[['Limit', 'Rating']].iloc[:5]

#Select the first five observations with 4 cards

In [11]:
cards_infp=df[df['Cards'] == 4].iloc[:5]

#Sort the observations by 'Education'. Show users with a high
education value first

In [ ]:
high_edu=df.sort_values(by='Education', ascending=False)

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# THis selects all rows ans columns
df.iloc[:,:]

In [ ]:
# This selcts all rows and columns after the 5th, 
# so column 6 and row 6 onwards
df.iloc[5:,5:]

In [ ]:
# This selects all rows and the 1st column
df.iloc[:,0]

In [ ]:
# This selects the 10th row and all columns
df.iloc[9,:]