In [75]:
# Import pandas
import pandas as pd

In [76]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [77]:
#calculating the mean value of income for each ethnicity
ethnicity_avg_income = df.groupby('Ethnicity')['Income'].mean()

In [78]:
#cakculating the mean value of married and single people
ave_mar_status = df.groupby('Married')['Balance'].mean()

In [79]:
#Calculating the highest income
high_income = df['Income'].max()

In [80]:
#Calculating the ;owest income
low_income = df['Income'].min()

In [81]:
#Calculate the total number of cards
card_num = df['Cards'].sum()

In [82]:
# Calculating the total number of men and women
num_female = df[df['Gender'] == 'Female']['Gender'].count()
num_male = df[df['Gender'] == 'Male']['Gender'].count()

In [83]:
print("Average income per ethnicity:\n",ethnicity_avg_income)

Average income per ethnicity:
 Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [84]:
print("Average income based on marital status: \n", ave_mar_status)

Average income based on marital status:
 Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [85]:
print("Highest income: \n", high_income)

Highest income:
 186.634

In [86]:
print("Lowest income: \n", low_income)

Lowest income:
 10.354

In [87]:
print("Number of cards: \n", card_num)

Number of cards:
 1183

In [88]:
print("Men vs Women")
print("Women: ", num_female)
print("Men: ", num_male)

Men vs Women
Women:  207
Men:  193